* {
    margin: 3;
    padding: 3;
    box-sizing: border-box;

}
h1 {
    background-color: rgb(1, 1, 189);
    background-color: rgb(0, 255, 98); /*Marcador de texto*/
    border-radius: 20px;/* arredonda a borda*/
    text-align: center;/* centraliza texto*/
}
h2 { 
    text-shadow: 2px 2px 2px rgb(28, 113, 224);/* sombra de texto */
}
 
 #texto-verde {
    background-color: rgb(9, 255, 0);

}
p {
    color: blueviolet;
}

.texto-azul{
    color: blue;
}