* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    position: relative;
}
i {
    font-size: medium;
}

.wpp {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
